# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Svn diff'
      'command': 'atom-svn:diff'
    },
    {
      'label': 'Svn add'
      'command': 'atom-svn:add'
    },
    {
      'label': 'Svn update'
      'command': 'atom-svn:update'
    },
    {
      'label': 'Svn log'
      'command': 'atom-svn:log'
    },
    {
      'label': 'Svn blame'
      'command': 'atom-svn:blame'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-svn'
      'submenu': [
        {
          'label': 'Diff'
          'command': 'atom-svn:diff'
        },
        {
          'label': 'Add'
          'command': 'atom-svn:add'
        },
        {
          'label': 'Update'
          'command': 'atom-svn:update'
        },
        {
          'label': 'Log'
          'command': 'atom-svn:log'
        },
        {
          'label': 'Blame'
          'command': 'atom-svn:blame'
        }
      ]
    ]
  }
]
